@font-face {
    font-family: Inter;
    src: url(/Вёрстка/assets/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(/Вёрстка/assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: PoppinsB;
    src: url(/Вёрстка/assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: Sans;
    src: url(/Вёрстка/assets/fonts/PublicSans-Regular.ttf);
}
@font-face {
    font-family: Manrope;
    src: url(/Вёрстка/assets/fonts/Manrope-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    margin: 0 auto;
    background-color: #f9f9f9;
}
// ШАПКА
.header{
    height: 135px;
    padding: 48px 96px 0;
    &__content{
        width: 1248px;
        height: 62px;
        display: flex;
        
        img{
            width: 112px;
            height: 42px;
            align-self: center;
        }
        // НАВИГАЦИОННОЕ МЕНЮ
        nav{
            width: 375px;
            height: 27px;
            margin-left: 103px;
            margin-right: 426px;
            align-self: center;
            display: flex;
            justify-content: space-between;
            a{
                text-decoration: none;
                font-family: Inter;
                font-size: 18px;
                font-weight: 500;
                color: #606060;
            }
        }
        &__btn{
            width: 233px;
            height: 63px;
            display: flex;
            justify-content: space-between;
            a{
                align-self: center;
                text-decoration: none;
                font-family: Inter;
                font-weight: 700;
                color: #606060;
            }
            button{
                width: 122px;
                height: 63px;
                border:none;
                border-radius: 18px;
                background-color: #6C5FBC;
                a{
                    color: #F9F9F9;
                }
            }
            
        }
    }
    hr{
        margin-top: 25px;
        border: 1px solid #CBCBCB;
        opacity: 50%;
    }
}

// ОСНОВНАЯ ЧАСТЬ СТРАНИЦЫ
//БАНЕР
.banner{
    width: 1247px;
    height: 624px;
    margin: 82px 0 0 97px;
    position: absolute;
    &__weekends{
        width: 814px;
        height: 345px;
        img{
            float: right;
        }
        &__content{
            width: 758px;
            height: 251px;
            background-color: #5C4EAE;
            border-radius: 19px;
            top: 40px;
            position: absolute;
            &__icon{
                opacity: 50%;
                filter:opacity(0.5);
                position: absolute;
            }
            p{
                position: relative;
                font-family: PoppinsB;
                font-weight: 800;
            }
            p:nth-of-type(1){
                font-size: 75px;
                line-height: 112px;
                color: #F7F8FA;
                top: 30px;
                left: 59px;
            }
            p:nth-of-type(2){
                font-size: 87px;
                line-height: 131px;
                color: #7C6FCD;
                left: 61px;
            }
            &__food{
                position: absolute;
                top: 50px;
                left: 468px;
            }
            &__slider_lines{
                width: 136px;
                height: 6px;
                margin-top: 60px;
                margin-left: 287px;
                display: flex;
                justify-content: space-between;
                &__one{
                    width: 61px;
                    height: 6px;
                    border-radius: 55px;
                    background-color: #6C5FBC;
                }
                &__two, &__three{
                    width: 30px;
                    height: 6px;
                    border-radius: 55px;
                    background-color: #DBD9EE;
                }
            }
        }
        &__search{
            width: 757px;
            height: 185px;
            margin-top: 88px;
            input{
                width: 757px;
                height: 75px;
                background-color: #EDEDED;
                border: none;
                border-radius: 15px;
                background-image: url(/Вёрстка/assets/img/Menu/Search.png);
                background-repeat: no-repeat;
                background-position: 28px 20px;
                outline: none;
                padding: 3px 0 0 91px;
                font-size: 21px;
                color: #AAABBA;
            }
            input::placeholder{
                font-family: Poppins;
                font-size: 21px;
                font-weight: 500;
                line-height: 24px;
                align-self: center;
                color: #AAABBA;
            }
            &__btn{
                width: 757px;
                height: 75px;
                margin-top: 35px;
                display: flex;
                button{
                    width: 378px;
                    height: 75px;
                    border: 2.17px solid #6C5FBC;
                    font-family: Poppins;
                    font-size: 19px;
                    font-weight: 500;
                    line-height: 29px;
                }
                button:nth-of-type(1){
                    border-radius: 15px 0 0 15px;
                    background-color: transparent;
                    color: #6C5FBC;
                }
                button:nth-of-type(2){
                    background-color: #6C5FBC;
                    border-radius: 0 15px 15px 0;
                    color: #F3F5F6;
                }
            }
        }
    }
    &__filters{
        width: 377px;
        height: 591px;
        border-radius: 24px;
        background-color: white;
        position: absolute;
        box-shadow: 6px 10px 29px 1px #6C5FBC1F;
        left: 870px;
        top: 32px;
        p{
            font-family: Poppins;
            font-size: 21px;
            font-weight: 600;
            line-height: 29px;
            color: #323142;
        }
        &__content{
            width: 313px;
            height: 520px;
            margin: 32px;
            &__category{
                &__cards{
                    margin-top: 17px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img:nth-child(1){
                        height: 96px;
                    }
                    img:nth-child(3){
                        height: 96px;
                    }
                    img:nth-child(4){
                        height: 96px;
                    }
                }
            }
            &__sort_by{
                width: 301px;
                height: 109px;
                margin-top: 26px;
                div{
                    width: 311px;
                    height: 29px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 13px;
                    p{
                        font-family: Poppins;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 29px;
                    }
                    p:nth-of-type(1){
                        color: #ACADB9;
                    }
                    p:nth-of-type(2){ 
                        color: #6C5FBC;
                    }
                }
                p:nth-child(3){
                    font-family: Poppins;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 29px;
                    color: #ACADB9;
                    margin-top: 9px;   
                }
            }
            &__price{
                width: 303px;
                height: 105px;
                margin-top: 29px;
                img{
                    margin-top: 18px;
                }
                div{
                    display: flex;
                    justify-content: space-between;
                    p{
                        font-family: Poppins;
                        font-size: 11px;
                        font-weight: 500;
                        line-height: 30px;
                        color: #C2C3CB;
                    }
                }
            }
            button{
                width: 313px;
                height: 60px;
                border: none;
                border-radius: 14px;
                background-color: #6C5FBC;
                font-family: Poppins;
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
                color: #FFF3EB;
                margin-top: 38px;
            }
        }
    }
}


.TopRestaurants{
    width: 1249px;
    height: 641px;
    position: relative;
    top: 820px;
    left: 97px;
    &__heading{
        width: 1235px;
        height: 46px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-family: Poppins;
            font-size: 35px;
            font-weight: 600;
            line-height: 26px;
            color: #323142;
        }
        span{
            color: #6C5FBC;
        }
        button{
            width: 113px;
            height: 46px;
            border: none;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            line-height: 45px;
            text-align: left;
            color: #ACADB9;
            background-color: transparent;
            img{
                width: 16px;
                height: 16px;
                margin-left: 20px;
            }
        }
    }
    &__content{
        display: flex;
        margin-top: 66px;
        gap: 30px;
        &__cardOne,&__cardTwo,&__cardThree{
            width: 396px;
            height: 298px;
            box-shadow: 6px 71px 36px 0px #E5E5E5B2;
            border-radius: 30px;
        }
        &__cardOne,&__cardTwo,&__cardThree{
            div{
                p{
                    font-family: Poppins;
                }
                p:nth-of-type(1){
                    width: 66px;
                    height: 25px;
                    color: #DAA31A;
                    font-size: 13px;
                    font-weight: 400;
                    text-align: center;
                    padding-top: 2px;
                    border-radius: 5px;
                    background-color: #F7EDD0;
                    margin: 11px 0 0 33px;
                }
                p:nth-of-type(2){
                    font-size: 26px;
                    font-weight: 600;
                    color: #323142;
                    margin-left: 34px;
                }
                div{
                    display: flex;
                    gap: 6px;
                    p{
                        font-family: Manrope;
                    }
                    p:nth-of-type(1){
                        width: 73px;
                        height: 26px;
                        font-size: 19px;
                        font-weight: 400;
                        color: #8E97A6;
                        background-color: white;
                        margin: 0 0 0 34px;
                    }
                    img{
                        width: 26px;
                        height: 26px;
                    }
                    p:nth-of-type(2){
                        font-size: 19px;
                        font-weight: 400;
                        color: #8E97A6;
                        margin: 0;
                    }
                }
            }
        }
        &__cardTwo{
            div{
                p:nth-of-type(1){
                    color: #FB471D;
                    background-color: #F7C5BA;
                }
            }
        }
    }
    hr{
        margin-top: 120px;
        border: 1px solid #CBCBCB;
        opacity: 50%;
    }
}

.TopDishes{
    width: 1247px;
    height: 500px;
    position: relative;
    top: 700px;
    left: 97px;
    &__heading{
        width: 1233px;
        height: 46px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Poppins;
        font-size: 35px;
        font-weight: 600;
        line-height: 26px;
        color: #323142;
        span{
            color: #6C5FBC;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        &__cardChicken,&__cardDish,&__cardDishTwo{
            width: 225px;
            height: 390px;
            border-radius: 35px;
            margin-top: 76px;
            box-shadow: 7px 82px 41px 0px #E5E5E5B2;
            &__like{
                position: absolute;
                margin: 24px 0 0 181px;
            }
            &__food{
                margin: 26px 0 0 15px;
            }
            h6{
                height: 22px;
                font-family: Poppins;
                font-size: 11px;
                font-weight: 400;
                line-height: 17px;
                margin: 3px 0 0 23px;
                text-align: center;
                padding-top: 3px;
                border-radius: 5px;
            }
            h2{
                font-family: Poppins;
                font-size: 23px;
                font-weight: 600;
                line-height: 37px;
                color: #323142;
                margin-left: 23px;
            }
            div:nth-of-type(1){
                display: flex;
                gap: 6px;
                margin-left: 23px;
                p{
                    font-family: Manrope;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 23px;
                    color: #8E97A6;
                    align-self: center;
                    margin-top: 1.5px;
                }
            }
            div:nth-of-type(2){
                display: flex;
                margin: 12px 0 0 23px;
                p{
                    width: 115px;
                    height: 40px;
                    font-family: Manrope;
                    font-size: 26px;
                    font-weight: 700;
                    line-height: 40px;
                    color: #323142;
                    span{
                        font-size: 19px;
                        color: #8E97A6;
                    }
                }
                img{
                    margin-left: 15px;
                }
            }
        }
        &__cardChicken{
            h6{
                width: 59px;
                color: #DAA31A;
                background-color: #F7EDD0;
            }
        }
        &__cardDish{
            h6{
                width: 64px;
                color: #FB471D;
                background-color: #F7C5BA;
                margin-top: 7px;
            }
        }
        &__cardDishTwo{
            h6{
                width: 59px;
                color: #309d5b;
                background-color: #d6eee0;
                margin-top: 5px;
            }
        }
    }
    button{
        width: 113px;
        height: 46px;
        border: none;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 45px;
        text-align: left;
        color: #ACADB9;
        background-color: transparent;
        img{
            width: 16px;
            height: 16px;
            margin-left: 20px;
        }
    }
    hr{
        margin-top: 120px;
        border: 1px solid #CBCBCB;
        opacity: 50%;
    }
}

.FAQs{
    width: 1152px;
    height: 748px;
    margin: 965px auto 0 auto;
    &__vector{
        margin-left: 780px;
    }
    p{
        text-align: center;
        font-family: Poppins;
        font-size: 45px;
        font-weight: 800;
        line-height: 54px;
        color: #323142;
        span{
            color: #6C5FBC;
        }
    }
    &__content{
        width: 1152px;
        height: 494px;
        margin-top: 90px;
        &__text{
            width: 1152px;
            height: 76px;
            display: flex;
            justify-content: space-between;
            margin-top: 29px;
            p{
                font-family: Poppins;
                font-size: 23px;
                font-weight: 600;
                line-height: 59px;
                color: #323142;
            }
            img{
                width: 30px;
                height: 30px;
                align-self: center;
            }
        }
        hr{
            border: 1px solid #ADADAD;
            opacity: 50%;
        }
    }
}
//ПОДВАЛ
.footer{
    width: 1440px;
    height: 345px;
    background-color: #EAEAEA;
    margin-top: 175px;
    &__content{
        padding: 96px 85px 0 103px;
        &__nav{
            width: 1250px;
            height: 57px;
            display: flex;
            justify-content: space-between;
            nav{
                width: 456px;
                height: 27px;
                align-self: center;
                display: flex;
                justify-content: space-between;
                a{
                    text-decoration: none;
                    font-family: Inter;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 27px;
                    color: #999999;
                }
            }
        }
        hr{
            margin-top: 29px;
            border: 1px solid #CBCBCB;
        }
        &__icon{
            width: 1238px;
            height: 35px;
            display: flex;
            justify-content: space-between;
            margin-top: 57px;
            p{
                font-family: Inter;
                font-size: 17px;
                font-weight: 500;
                line-height: 25px;
                color: #999999;
                align-self: center;
            }
            &__img{
                width: 235px;
                height: 22px;
                align-self: center;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}