@charset "UTF-8";
@font-face {
  font-family: Inter;
  src: url(/Вёрстка/assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/Вёрстка/assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsB;
  src: url(/Вёрстка/assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: Sans;
  src: url(/Вёрстка/assets/fonts/PublicSans-Regular.ttf);
}
@font-face {
  font-family: Manrope;
  src: url(/Вёрстка/assets/fonts/Manrope-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.header {
  height: 135px;
  padding: 48px 96px 0;
}
.header__content {
  width: 1248px;
  height: 62px;
  display: flex;
}
.header__content img {
  width: 112px;
  height: 42px;
  align-self: center;
}
.header__content nav {
  width: 375px;
  height: 27px;
  margin-left: 103px;
  margin-right: 426px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
.header__content nav a {
  text-decoration: none;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  color: #606060;
}
.header__content__btn {
  width: 233px;
  height: 63px;
  display: flex;
  justify-content: space-between;
}
.header__content__btn a {
  align-self: center;
  text-decoration: none;
  font-family: Inter;
  font-weight: 700;
  color: #606060;
}
.header__content__btn button {
  width: 122px;
  height: 63px;
  border: none;
  border-radius: 18px;
  background-color: #6C5FBC;
}
.header__content__btn button a {
  color: #F9F9F9;
}
.header hr {
  margin-top: 25px;
  border: 1px solid #CBCBCB;
  opacity: 50%;
}

.banner {
  width: 1247px;
  height: 624px;
  margin: 82px 0 0 97px;
  position: absolute;
}
.banner__weekends {
  width: 814px;
  height: 345px;
}
.banner__weekends img {
  float: right;
}
.banner__weekends__content {
  width: 758px;
  height: 251px;
  background-color: #5C4EAE;
  border-radius: 19px;
  top: 40px;
  position: absolute;
}
.banner__weekends__content__icon {
  opacity: 50%;
  filter: opacity(0.5);
  position: absolute;
}
.banner__weekends__content p {
  position: relative;
  font-family: PoppinsB;
  font-weight: 800;
}
.banner__weekends__content p:nth-of-type(1) {
  font-size: 75px;
  line-height: 112px;
  color: #F7F8FA;
  top: 30px;
  left: 59px;
}
.banner__weekends__content p:nth-of-type(2) {
  font-size: 87px;
  line-height: 131px;
  color: #7C6FCD;
  left: 61px;
}
.banner__weekends__content__food {
  position: absolute;
  top: 50px;
  left: 468px;
}
.banner__weekends__content__slider_lines {
  width: 136px;
  height: 6px;
  margin-top: 60px;
  margin-left: 287px;
  display: flex;
  justify-content: space-between;
}
.banner__weekends__content__slider_lines__one {
  width: 61px;
  height: 6px;
  border-radius: 55px;
  background-color: #6C5FBC;
}
.banner__weekends__content__slider_lines__two, .banner__weekends__content__slider_lines__three {
  width: 30px;
  height: 6px;
  border-radius: 55px;
  background-color: #DBD9EE;
}
.banner__weekends__search {
  width: 757px;
  height: 185px;
  margin-top: 88px;
}
.banner__weekends__search input {
  width: 757px;
  height: 75px;
  background-color: #EDEDED;
  border: none;
  border-radius: 15px;
  background-image: url(/Вёрстка/assets/img/Menu/Search.png);
  background-repeat: no-repeat;
  background-position: 28px 20px;
  outline: none;
  padding: 3px 0 0 91px;
  font-size: 21px;
  color: #AAABBA;
}
.banner__weekends__search input::-moz-placeholder {
  font-family: Poppins;
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  align-self: center;
  color: #AAABBA;
}
.banner__weekends__search input::placeholder {
  font-family: Poppins;
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  align-self: center;
  color: #AAABBA;
}
.banner__weekends__search__btn {
  width: 757px;
  height: 75px;
  margin-top: 35px;
  display: flex;
}
.banner__weekends__search__btn button {
  width: 378px;
  height: 75px;
  border: 2.17px solid #6C5FBC;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 500;
  line-height: 29px;
}
.banner__weekends__search__btn button:nth-of-type(1) {
  border-radius: 15px 0 0 15px;
  background-color: transparent;
  color: #6C5FBC;
}
.banner__weekends__search__btn button:nth-of-type(2) {
  background-color: #6C5FBC;
  border-radius: 0 15px 15px 0;
  color: #F3F5F6;
}
.banner__filters {
  width: 377px;
  height: 591px;
  border-radius: 24px;
  background-color: white;
  position: absolute;
  box-shadow: 6px 10px 29px 1px rgba(108, 95, 188, 0.1215686275);
  left: 870px;
  top: 32px;
}
.banner__filters p {
  font-family: Poppins;
  font-size: 21px;
  font-weight: 600;
  line-height: 29px;
  color: #323142;
}
.banner__filters__content {
  width: 313px;
  height: 520px;
  margin: 32px;
}
.banner__filters__content__category__cards {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__filters__content__category__cards img:nth-child(1) {
  height: 96px;
}
.banner__filters__content__category__cards img:nth-child(3) {
  height: 96px;
}
.banner__filters__content__category__cards img:nth-child(4) {
  height: 96px;
}
.banner__filters__content__sort_by {
  width: 301px;
  height: 109px;
  margin-top: 26px;
}
.banner__filters__content__sort_by div {
  width: 311px;
  height: 29px;
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}
.banner__filters__content__sort_by div p {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 29px;
}
.banner__filters__content__sort_by div p:nth-of-type(1) {
  color: #ACADB9;
}
.banner__filters__content__sort_by div p:nth-of-type(2) {
  color: #6C5FBC;
}
.banner__filters__content__sort_by p:nth-child(3) {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 29px;
  color: #ACADB9;
  margin-top: 9px;
}
.banner__filters__content__price {
  width: 303px;
  height: 105px;
  margin-top: 29px;
}
.banner__filters__content__price img {
  margin-top: 18px;
}
.banner__filters__content__price div {
  display: flex;
  justify-content: space-between;
}
.banner__filters__content__price div p {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 500;
  line-height: 30px;
  color: #C2C3CB;
}
.banner__filters__content button {
  width: 313px;
  height: 60px;
  border: none;
  border-radius: 14px;
  background-color: #6C5FBC;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #FFF3EB;
  margin-top: 38px;
}

.TopRestaurants {
  width: 1249px;
  height: 641px;
  position: relative;
  top: 820px;
  left: 97px;
}
.TopRestaurants__heading {
  width: 1235px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TopRestaurants__heading p {
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  line-height: 26px;
  color: #323142;
}
.TopRestaurants__heading span {
  color: #6C5FBC;
}
.TopRestaurants__heading button {
  width: 113px;
  height: 46px;
  border: none;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  color: #ACADB9;
  background-color: transparent;
}
.TopRestaurants__heading button img {
  width: 16px;
  height: 16px;
  margin-left: 20px;
}
.TopRestaurants__content {
  display: flex;
  margin-top: 66px;
  gap: 30px;
}
.TopRestaurants__content__cardOne, .TopRestaurants__content__cardTwo, .TopRestaurants__content__cardThree {
  width: 396px;
  height: 298px;
  box-shadow: 6px 71px 36px 0px rgba(229, 229, 229, 0.6980392157);
  border-radius: 30px;
}
.TopRestaurants__content__cardOne div p, .TopRestaurants__content__cardTwo div p, .TopRestaurants__content__cardThree div p {
  font-family: Poppins;
}
.TopRestaurants__content__cardOne div p:nth-of-type(1), .TopRestaurants__content__cardTwo div p:nth-of-type(1), .TopRestaurants__content__cardThree div p:nth-of-type(1) {
  width: 66px;
  height: 25px;
  color: #DAA31A;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  padding-top: 2px;
  border-radius: 5px;
  background-color: #F7EDD0;
  margin: 11px 0 0 33px;
}
.TopRestaurants__content__cardOne div p:nth-of-type(2), .TopRestaurants__content__cardTwo div p:nth-of-type(2), .TopRestaurants__content__cardThree div p:nth-of-type(2) {
  font-size: 26px;
  font-weight: 600;
  color: #323142;
  margin-left: 34px;
}
.TopRestaurants__content__cardOne div div, .TopRestaurants__content__cardTwo div div, .TopRestaurants__content__cardThree div div {
  display: flex;
  gap: 6px;
}
.TopRestaurants__content__cardOne div div p, .TopRestaurants__content__cardTwo div div p, .TopRestaurants__content__cardThree div div p {
  font-family: Manrope;
}
.TopRestaurants__content__cardOne div div p:nth-of-type(1), .TopRestaurants__content__cardTwo div div p:nth-of-type(1), .TopRestaurants__content__cardThree div div p:nth-of-type(1) {
  width: 73px;
  height: 26px;
  font-size: 19px;
  font-weight: 400;
  color: #8E97A6;
  background-color: white;
  margin: 0 0 0 34px;
}
.TopRestaurants__content__cardOne div div img, .TopRestaurants__content__cardTwo div div img, .TopRestaurants__content__cardThree div div img {
  width: 26px;
  height: 26px;
}
.TopRestaurants__content__cardOne div div p:nth-of-type(2), .TopRestaurants__content__cardTwo div div p:nth-of-type(2), .TopRestaurants__content__cardThree div div p:nth-of-type(2) {
  font-size: 19px;
  font-weight: 400;
  color: #8E97A6;
  margin: 0;
}
.TopRestaurants__content__cardTwo div p:nth-of-type(1) {
  color: #FB471D;
  background-color: #F7C5BA;
}
.TopRestaurants hr {
  margin-top: 120px;
  border: 1px solid #CBCBCB;
  opacity: 50%;
}

.TopDishes {
  width: 1247px;
  height: 500px;
  position: relative;
  top: 700px;
  left: 97px;
}
.TopDishes__heading {
  width: 1233px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  line-height: 26px;
  color: #323142;
}
.TopDishes__heading span {
  color: #6C5FBC;
}
.TopDishes__content {
  display: flex;
  justify-content: space-between;
}
.TopDishes__content__cardChicken, .TopDishes__content__cardDish, .TopDishes__content__cardDishTwo {
  width: 225px;
  height: 390px;
  border-radius: 35px;
  margin-top: 76px;
  box-shadow: 7px 82px 41px 0px rgba(229, 229, 229, 0.6980392157);
}
.TopDishes__content__cardChicken__like, .TopDishes__content__cardDish__like, .TopDishes__content__cardDishTwo__like {
  position: absolute;
  margin: 24px 0 0 181px;
}
.TopDishes__content__cardChicken__food, .TopDishes__content__cardDish__food, .TopDishes__content__cardDishTwo__food {
  margin: 26px 0 0 15px;
}
.TopDishes__content__cardChicken h6, .TopDishes__content__cardDish h6, .TopDishes__content__cardDishTwo h6 {
  height: 22px;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
  margin: 3px 0 0 23px;
  text-align: center;
  padding-top: 3px;
  border-radius: 5px;
}
.TopDishes__content__cardChicken h2, .TopDishes__content__cardDish h2, .TopDishes__content__cardDishTwo h2 {
  font-family: Poppins;
  font-size: 23px;
  font-weight: 600;
  line-height: 37px;
  color: #323142;
  margin-left: 23px;
}
.TopDishes__content__cardChicken div:nth-of-type(1), .TopDishes__content__cardDish div:nth-of-type(1), .TopDishes__content__cardDishTwo div:nth-of-type(1) {
  display: flex;
  gap: 6px;
  margin-left: 23px;
}
.TopDishes__content__cardChicken div:nth-of-type(1) p, .TopDishes__content__cardDish div:nth-of-type(1) p, .TopDishes__content__cardDishTwo div:nth-of-type(1) p {
  font-family: Manrope;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  color: #8E97A6;
  align-self: center;
  margin-top: 1.5px;
}
.TopDishes__content__cardChicken div:nth-of-type(2), .TopDishes__content__cardDish div:nth-of-type(2), .TopDishes__content__cardDishTwo div:nth-of-type(2) {
  display: flex;
  margin: 12px 0 0 23px;
}
.TopDishes__content__cardChicken div:nth-of-type(2) p, .TopDishes__content__cardDish div:nth-of-type(2) p, .TopDishes__content__cardDishTwo div:nth-of-type(2) p {
  width: 115px;
  height: 40px;
  font-family: Manrope;
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  color: #323142;
}
.TopDishes__content__cardChicken div:nth-of-type(2) p span, .TopDishes__content__cardDish div:nth-of-type(2) p span, .TopDishes__content__cardDishTwo div:nth-of-type(2) p span {
  font-size: 19px;
  color: #8E97A6;
}
.TopDishes__content__cardChicken div:nth-of-type(2) img, .TopDishes__content__cardDish div:nth-of-type(2) img, .TopDishes__content__cardDishTwo div:nth-of-type(2) img {
  margin-left: 15px;
}
.TopDishes__content__cardChicken h6 {
  width: 59px;
  color: #DAA31A;
  background-color: #F7EDD0;
}
.TopDishes__content__cardDish h6 {
  width: 64px;
  color: #FB471D;
  background-color: #F7C5BA;
  margin-top: 7px;
}
.TopDishes__content__cardDishTwo h6 {
  width: 59px;
  color: #309d5b;
  background-color: #d6eee0;
  margin-top: 5px;
}
.TopDishes button {
  width: 113px;
  height: 46px;
  border: none;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  color: #ACADB9;
  background-color: transparent;
}
.TopDishes button img {
  width: 16px;
  height: 16px;
  margin-left: 20px;
}
.TopDishes hr {
  margin-top: 120px;
  border: 1px solid #CBCBCB;
  opacity: 50%;
}

.FAQs {
  width: 1152px;
  height: 748px;
  margin: 965px auto 0 auto;
}
.FAQs__vector {
  margin-left: 780px;
}
.FAQs p {
  text-align: center;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 800;
  line-height: 54px;
  color: #323142;
}
.FAQs p span {
  color: #6C5FBC;
}
.FAQs__content {
  width: 1152px;
  height: 494px;
  margin-top: 90px;
}
.FAQs__content__text {
  width: 1152px;
  height: 76px;
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
}
.FAQs__content__text p {
  font-family: Poppins;
  font-size: 23px;
  font-weight: 600;
  line-height: 59px;
  color: #323142;
}
.FAQs__content__text img {
  width: 30px;
  height: 30px;
  align-self: center;
}
.FAQs__content hr {
  border: 1px solid #ADADAD;
  opacity: 50%;
}

.footer {
  width: 1440px;
  height: 345px;
  background-color: #EAEAEA;
  margin-top: 175px;
}
.footer__content {
  padding: 96px 85px 0 103px;
}
.footer__content__nav {
  width: 1250px;
  height: 57px;
  display: flex;
  justify-content: space-between;
}
.footer__content__nav nav {
  width: 456px;
  height: 27px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
.footer__content__nav nav a {
  text-decoration: none;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #999999;
}
.footer__content hr {
  margin-top: 29px;
  border: 1px solid #CBCBCB;
}
.footer__content__icon {
  width: 1238px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}
.footer__content__icon p {
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: #999999;
  align-self: center;
}
.footer__content__icon__img {
  width: 235px;
  height: 22px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=Menu.css.map */